# Mac Configuration Files
.DS_Store

# HW0
# Intellij IDE Configuration Files
HW0/out/*

# Mac Configuration Files
HW0/.DS_Store

# HW1
# Intellij IDE Configuration Files
HW1/*.iml
HW1/.idea/*
HW1/out/*
HW1/lib/*

# Mac Configuration Files
HW1/.DS_Store

# Doxygen-related files
HW1/doxygen
HW1/latex/*
HW1/html/*

.DS_Store
main/.DS_Store

# PyCharm Configuration Files
.idea/*
main/__pycache__/*

# Local Files
main/data/*.json
main/data/*.txt
main/data/*.log
!main/data/*_test.json
