# Mac Configuration Files
.DS_Store

# HW0
# Intellij IDE Configuration Files
WarmUp/HW0/out/*

# Mac Configuration Files
WarmUp/HW0/.DS_Store

# HW1
# Intellij IDE Configuration Files
ChessLibrary/*.iml
ChessLibrary/.idea/*
ChessLibrary/out/*
ChessLibrary/lib/*

# Mac Configuration Files
ChessLibrary/.DS_Store

# Doxygen-related files
ChessLibrary/doxygen
ChessLibrary/latex/*
ChessLibrary/html/*

# HW2
# Mac Configuration Files
WebScraper/.DS_Store

# PyCharm Configuration Files
WebScraper/.idea/*
WebScraper/__pycache__/*

# Local Files
WebScraper/data/*.json
WebScraper/data/*.txt
WebScraper/data/*.log
!WebScraper/data/*_test.json
